<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weebrag.com - A new way for parents to share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/weebrag.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">weebrag.com</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Activity</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dates <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Today</a></li>
                <li><a href="#">Yesterday</a></li>
                <li><a href="#">This Week</a></li>
                <li><a href="#">This Month</a></li>
                <li><a href="#"><i class="icon-th"></i> Select a Date</a></li>
              </ul>
              </li>
            </ul>
            <p class="navbar-text pull-right">Hello, <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="layered-paper">
        <div class="timestamp">3:05 p.m., August 11, 2011</div>
        <div id="vitals">
          <h1>Hello, I'm Henry Keith Kirk.</h1>
          <p>I was born at 3:05 p.m. on Thursday, August 11, 2011, in Munster, Indiana.</p>
        </div>
        <div class="big-image">
          <img src="photos/henry1.jpg" />
        </div>
      </div>
      <div class="layered-paper">
        <div class="timestamp">3:05 p.m., August 11, 2011</div>
        <div class="row-images">
          <div class="medium-image">
            <img src="photos/henry2.jpg" />
          </div>
          <div class="medium-image">
            <img src="photos/henry3.jpg" />
          </div>
          <div class="medium-image">
            <img src="photos/henry4.jpg" />
          </div>
          <p>Henry and @Chelsea_Kirk are doing just great! He weighed 8lbs. 14oz. and was 21 1/4 inches long.</p>
        </div>
      </div>
      <div class="layered-paper">
        <div class="timestamp">3:05 p.m., August 11, 2011</div>
        <div class="big-video">
            <video class="video" width="100%" height="100%" controls>
              <source src="videos/henry1.m4v" />
            </video>
        </div>
      </div>
      <p>More stuff down here.</p>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/ykr7erk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script>
      // Basic FitVids Test
      $(".big-video").fitVids();  
    </script>

  </body>
</html>
